@font-face {
    font-family: hotpizza;
    src: url(Fonte/hotpizza.ttf);
}

header > nav > a {

font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: rgb(255, 255, 255);
margin: auto;
margin-left: 20px;
padding: 20px;
margin-top: 200px;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
position: sticky;
font-size: 1em;


}

html { 
    overflow-x: hidden;
}

body { 
    background-image: url(imagens/photo-1513104890138-7c749659a591.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    
}


header { 
    margin-top: 20px;
    padding: 10px;
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.048);
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    text-align: center;
    height: 100;
    max-width: 840px;
    display: block;
    margin: auto;





}

header > nav > a:hover { 
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: larger;
    transition-duration: 0.5s;
    width: 90%;
    max-width: 840px;

}


section { 
background-color: rgba(255, 255, 255, 0);
height: 600px;
display: block;
width: 100vw;
max-width: 1000px;
flex-direction: column;
margin-left: auto;
margin-top: 100px;
}




.tex { 

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
    width: 90%;
    max-width: 840px;
    font-size: 2em;
    text-decoration: solid;
    min-width: 300px;
    max-width: 1000px;

}
#h1i { 
    font-family: hotpizza;
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    min-width: 300px;
    max-width: 1000px;
}

@media (max-width: 570px) { 
html { 
    font-size: 50%;
}
}

#fp { 
    font-size: 20px;
}

#fp:hover { 
    text-decoration: underline;
}

