

* {
      padding: 0;
      margin: 0;
}

body {
      background: #DFD5A5;
      font-family: 'Roboto', sans-serif;
}

.container {
      display: flex;
      flex-direction: column;
      align-items: center;
}

header {
      height: 8vh;
      display: flex;
      width: 100%;
      justify-content: space-between;
      background: rgba(1, 8, 36, 0.905);
      color: #fff;
      align-items: center;
}

.logo {
      width: 100%;
      margin-left: 1rem;
      font-size: 1.5rem;
}

.nav-options {
      width: 100%;
      display: flex;
      justify-content: right;
}

.nav-options ul {
      list-style-type: none;
      display: flex;
      width: 100%;
      justify-content: right;
}

.nav-options ul li {
      margin-right: 2rem;
}

.nav-options a {
      text-decoration: none;
      padding: 0.5rem;
      border: 1px solid #727072;
      /*background: #9a031fec;*/
      color: #a3a2a2;
      border-radius: 2px;
      transition: 0.5s;
}

.nav-options a:hover {
      background: #FE654F;
      color: #fff;
      border: 1px solid #FE654F;
}

.banner {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      height: 75vh;
      width: 100%;
      background:#000
}

.text-banner {
      color: #fafafa;
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: center;
      margin-left: 3rem;
}

.text-banner p {
      font-size: 1.2rem;
}

.text-banner a {
      text-decoration: none;
      font-family: 'Bebas Neue', cursive;
      font-size: 1.5rem;
      padding: 1rem;
      width: 30%;
      margin-top: 3vh;
      border: 1px solid #FE654F;
      color: #FE654F;
      border-radius: 2px;
      transition: 0.5s;
}

.text-banner a:hover {
      background: #FE654F;
      color: #fafafa;
}


.image-banner {
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("./assets/images/background.png") no-repeat center;
      height: 100%;
      width: 100%;
      border-radius: 2px;
}

.image-banner img {
      max-height: 6rem;
      min-height: 2rem;
      margin: 0 1rem;
}

.mid {
      background: rgba(1, 8, 36, 0.905);
      width: 100%;
      height: 20vh;
      margin-top: 5rem;
      display: flex;
      align-items: center;
}

.mid p {
      width: 100%;
      text-align: center;
      color: #fafafa;
      font-size: 1.5rem;
      font-weight: 700;
}

.benefits {
      width: 50%;
      margin-top: 5rem;
}


.benefits ul {
      display: flex;
      gap: 3rem;
      list-style-type: none;
}

.benefits li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 1rem;
}

.benefits li p {
      text-align: center;
}

.benefits li img {
      height: 3rem;
      color: rgba(1, 8, 36, 0.905);
}

.trophy {
      -webkit-mask: url("./assets/icons/trophy-solid.svg") no-repeat center;
      mask: url("./assets/icons/trophy-solid.svg") no-repeat center;
      background: rgba(1, 8, 36, 0.905);
}

.medal {
      -webkit-mask: url("./assets/icons/medal-solid.svg") no-repeat center;
      mask: url("./assets/icons/medal-solid.svg") no-repeat center;
      background: rgba(1, 8, 36, 0.905);
}

.plus {
      -webkit-mask: url("./assets/icons/plus-solid.svg") no-repeat center;
      mask: url("./assets/icons/plus-solid.svg") no-repeat center;
      background: rgba(1, 8, 36, 0.905);
}





footer img {
      height: 1.75rem;
}


footer {
      margin-top: 7rem;
      width: 100%;
      height: 35vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: rgba(1, 8, 36, 0.905);
      color: #fafafa;
}

.info {
      width: 100%;
      display: flex;
      height: 30vh;
      align-items: center;
      justify-content: space-between;
      align-items: center;
}

.media-text {
      text-align: center;
}

.company-info {
      margin: 0 3rem;
}

.social-media {
      display: flex;
      margin-top: 1rem;
      gap: 1.5rem;
      justify-content: center;
}


.fb-icon {
      -webkit-mask: url("./assets/icons/facebook-f-brands.svg") no-repeat center;
      mask: url("./assets/icons/facebook-f-brands.svg") no-repeat center;
      background: #fafafa;
}

.twitter-icon {
      -webkit-mask: url("./assets/icons/twitter-brands.svg") no-repeat center;
      mask: url("./assets/icons/twitter-brands.svg") no-repeat center;
      background: #fafafa;
}

.insta-icon {
      -webkit-mask: url("./assets/icons/instagram-brands.svg") no-repeat center;
      mask: url("./assets/icons/instagram-brands.svg") no-repeat center;
      background: #fafafa;
}

.linkedin-icon {
      -webkit-mask: url("./assets/icons/linkedin-brands.svg") no-repeat center;
      mask: url("./assets/icons/linkedin-brands.svg") no-repeat center;
      background: #fafafa;
}

.github-icon {
      -webkit-mask: url("./assets/icons/github-brands.svg") no-repeat center;
      mask: url("./assets/icons/github-brands.svg") no-repeat center;
      background: #fafafa;
}

.company-pages {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem;
}

.company-pages a {
      text-decoration: none;
      color: #fafafa;
      transition: 0.5s;
}

.company-pages a:hover {
      color: #b3b3b3;
      
}

.personal-info {
      margin: 0 3rem;
}

.personal-footer-text {
      text-align: center;
}


@media screen and (max-width: 1024px) {
      .image-banner img {
            height: 6vw;
      }

      .image-banner {
            width: 90%;
      }

      .text-banner a {
            width: 70%;
      }

}